.class-list {
	max-width: 800px;

	&, ul, li {
		list-style: none;
		padding-left: 0;
	}

	.product-info {
		text-align: center;

		.btn {
			display: block;
			width: 100%;
		}
	}

	.class-meta {
		margin-bottom: 20px;

		.class-meta-item {

			list-style: none;
			padding: 20px;

			&:nth-child(odd) {

				background-color: #eee;

			}

			a:not(.btn) {

				color: $body-color;
				text-decoration: underline;

				&:hover, &:focus {
					text-decoration: none;
				}

			}

			
		}
	}
}

.single-class .class-list {
	max-width: 100%; 
}

.class-times {
	padding: 20px 0; 
} 