.form-check-input {
	margin-left: 0;
}

#mailchimp-modal-messages {
	span {
		display: block;
		font-weight: bold;
		padding-bottom: 20px;
	}
}

.wpcf7-form {
	.wpcf7-form-control-wrap {
		width: 100%;
	}

	.wpcf7-list-item {
		margin-left: 0;
	} 
}

.mc4wp-response {
	position: relative;

	.mc4wp-alert {
		position: absolute;
		width: 500px;
		left: -30px;
		top: 5px;     	
	}       
}


